.footer {
  background-color: #2c2b2b;
  text-align: center;
  padding: 70px 0;
}

.footer a {
  font-size: 2em;
  color: #1edd88;
}

.footer p {
  font-size: 1em;
  color: #7c7c7c;
}

.footer p i {
  font-size: 1em;
  color: #dd1e67;
}
